marco-format/
preprocessed_data/
batch.sh

dbpedia-entity/
nfcorpus/
nq/
scidocs/
sum.txt
tinybioasq/
tinydbpedia/
tinynq/
trec-covid/
fulltreccovid/
webis-touche2020/
climate-fever/
fever/
fiqa/
hotpotqa/
quora/
scifact/
tinyclimatefever/
tinyfever/
tinyhotpotqa/
cqadupstack/
