additional_passages.tsv
allMeSH_2020.json

Task8BGoldenEnriched/8B1_golden.json
Task8BGoldenEnriched/8B2_golden.json
Task8BGoldenEnriched/8B3_golden.json
Task8BGoldenEnriched/8B4_golden.json
Task8BGoldenEnriched/8B5_golden.json
